@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?kkbvb9');
	src:url('../fonts/icomoon.eot?#iefixkkbvb9') format('embedded-opentype'),
		url('../fonts/icomoon.woff?kkbvb9') format('woff'),
		url('../fonts/icomoon.ttf?kkbvb9') format('truetype'),
		url('../fonts/icomoon.svg?kkbvb9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icn {
	font-family: 'icomoon';
	speak: none;
	font-weight: normal !important;
	font-size: 20px !important;

	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
.icn-size-lg {
	font-size: 40px !important;
}

.icn-opacity-25 {
	opacity: 0.25;
}
.icn-opacity-50 {
	opacity: 0.5;
}
.icn-opacity-75 {
	opacity: 0.75;
}

[data-icon]:before {
	content: attr(data-icon);
}