@import "variables.less";
@import "mixins.less";
@import "bs3-mixins.less";

html,
body {
	height: 100%;
}
body {
	position: relative;
	z-index: -100;
	line-height: 1.75;

	font-family: @font-base;
	font-size: @font-size;
	background: @color-body;
	color: @color-dark;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -@footer-height;
}

nav.nav-main {
	position: relative;
	z-index: 100;
	height: 40px;
	line-height: 40px;

	background: @color-nav-main;
	color: @color-white;

	ul {
		position: relative;
		margin: 0;
		padding: 0;

		list-style: none;

		li {
			position: relative;
			float: left;
			margin: 0 0 -1px 0;
			padding: 0;

			a {
				position: relative;
				display: block;
				padding: 0 25px;

				font-size: @font-size-small;
				color: @color-gray;
				font-family: @font-special;
				font-weight: 500;

				&:hover {
					background: darken(@color-nav-main, 1%);
					text-decoration: none;
					color: @color-subtle;
				}

				&.active {
					color: #ffba00;
					background: darken(@color-nav-main, 3%);

					.arrow {
						display: block;
					}
				}

				.arrow {
					position: absolute;
					z-index: 10;
					width: 10px;
					height: 10px;
					bottom: -6px;
					left: 50%;
					margin-left: -6px;
					display: none;
					
					border-left: 1px solid rgba(0, 0, 0, .5);
					border-top: 1px solid rgba(0, 0, 0, .5);
					background: darken(@color-nav-main, 3%);

					.rotate(-135deg);
					.border-radius(3px, 0, 0, 0);
				}
			}
		}

		&.dd {
			position: absolute;
			margin: 2px 0 0;
			padding: 5px 0;

			li {
				float: none;

				a {
					display: block;
					padding: 3px 20px;
				}
			}
		}
	}

	.user-icon {
		float: left;
		margin: 0 8px 0 0;
	}
}

header {
	position: relative;
	z-index: 10;
	height: 90px;

	border-top: 1px solid rgba(0, 0, 0, .5);
	border-bottom: 1px solid rgba(0, 0, 0, .5);

	.gradient(@color-primary-bright, @color-primary);

	.brand {
		position: relative;
		line-height: 80px;

		font-family: @font-special;
		font-size: 28px;
		font-weight: 600;
		color: @color-white;
		font-style: italic;
		text-shadow: 0 1px 2px rgba(0, 0, 0, .25);
		letter-spacing: 0.01em;
		outline: none;

		&:hover {
			text-decoration: none;
		}
	}

	nav.nav-sub {
		position: relative;
		z-index: 15;
		float: left;

		ul {
			position: relative;
			margin: 0;
			padding: 0;

			list-style: none;

			li {
				position: relative;
				float: left;
				margin: 0 45px 0 0;
				padding: 0;

				a {
					line-height: 83px;

					color: rgba(255, 255, 255, .5);
					font-weight: 500;
					font-family: @font-special;

					&:hover {
						text-decoration: none;
						color: @color-white;
					}
				}
			}
		}
	}

	.header-search {
		padding-top: 28px;

		.btn {
			.border-radius(0, 50px, 50px, 0);
		}
	}
}

section {
	margin: @spacing 0;

	a  {
		color: @color-primary;

		&:hover {
			color: @color-primary-bright;
		}

		&:active {
			color: @color-primary;
		}
	}

	h1 {
		margin-top: 0;

		font-family: @font-titles;
		font-weight: 700;
		color: @color-primary-bright;
	}

	h2 {
		font-family: @font-special;
		font-weight: 500;
		font-style: italic;
		color: desaturate(@color-primary, 50%);
	}

	ul, ol {
		li {
			margin-bottom: 5px;
			line-height: @line-height;
			position: relative;

			font-size: @font-size;
		}
	}

	ul {
		list-style-type: square;
	}

	ol {
		position: relative;

		counter-reset: li;
		list-style: none;

		li {
			padding: 4px 0 5px 55px;

			&:before {
				content: counter(li);
				counter-increment: li;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 30px;
				padding: 0 10px 0 0;
				color: #999;
				font-size: 22px;
				font-weight: 600;
				line-height: 35px;
				text-align: right;
				font-family: @font-special;
				border-right: 1px solid #ddd;
			}

			&:after {
				content: ".";
				display: block;
				clear: both;
				visibility: hidden;
				line-height: 0;
				height: 0;
			}
		}
	}

	dl {
		dt {
			margin-top: 8px;
			line-height: @line-height;

			font-family: @font-special;
			font-size: @font-size;
			font-weight: 600;
		}

		dd {
			margin-bottom: 2px;
			line-height: @line-height;

			font-size: @font-size;

			strong {
				font-size: @font-size;
			}
		}
	}
}

footer, .push {
	height: @footer-height;
	padding-top: 27px;
}
footer {
	background: @color-nav-main;
	color: @color-white;
	border-top: 1px solid rgba(0, 0, 0, .5);
	font-size: @font-size-small;

	h2 {
		margin-top: 0;

		font-family: @font-special;
		font-weight: 500;
		font-size: @font-size-large;
		font-style: italic;
	}

	a {
		color: rgba(255, 255, 255, .5);
		border-bottom: 1px solid transparent;

		&:hover {
			text-decoration: none;
			color: lighten(@color-primary-bright, 10%);
			border-color: lighten(@color-primary-bright, 10%);
		}
	}
}

form {
	label {
		font-weight: 600;
		font-family: @font-special;
		color: @color-gray-dark;
		font-size: @font-size;
	}

	.form-control {
		.rounded(@border-radius);
	}
}

.text-sm {
	font-size: @font-size-small;
}

.text-danger {
	color: @color-danger;

	&:hover {
		color: @color-danger;
	}
}

.btn {
	font-family: @font-special;
	font-weight: 500;

	.rounded(@border-radius);

	&.btn-primary {
		.btn-pseudo-states(@color-white, @color-primary-bright, @color-primary-bright);
	}

	&.btn-link {
		color: @color-primary;
		font-size: @font-size;
	}
}

.btn-toolbar {
	margin: @spacing 0;
}

.label {
	font-weight: 600;

	.rounded(2px);

	&.label-warning {
		color: @color-warning-text;
		background-color: lighten(@color-warning, 5%);
	}

	&.label-success {
		background-color: @color-success;
	}

	&.label-info {
		background-color: @color-info-bright;
	}

	&.label-default {
		background-color: @color-gray-dark;
	}

	&.label-danger {
		background-color: darken(@color-danger-bright, 15%);
	}

	&.label-lg {
		font-size: @font-size;
	}
}

.alert {
	font-family: @font-special;
	font-weight: 500;
	font-size: @font-size;

	.alert-variant(rgb(251, 246, 217), rgb(218, 208, 139), rgb(146, 131, 50));
	.rounded(@border-radius);

	&.alert-info {
		.alert-variant(lighten(@color-info-alert, 32%), lighten(@color-info-alert, 22%), @color-info-alert);
	}

	&.alert-success {
		.alert-variant(lighten(@color-success-alert, 38%), lighten(@color-success-alert, 28%), @color-success-alert);
	}

	&.alert-danger {
		.alert-variant(lighten(@color-danger-alert, 38%), lighten(@color-danger-alert, 28%), @color-danger-alert);
	}
}

.panel {
	.rounded(@border-radius);

	.panel-heading {
		.border-radius(@border-radius, @border-radius, 0, 0);
		
		.panel-title {
			font-weight: 600;
		}
	}

	&.panel-warning {
		border-color: rgb(218, 208, 139);

		.panel-heading {
			color: rgb(146, 131, 50);
			border-color: rgb(218, 208, 139);
			background-color: rgb(251, 246, 217);

			.panel-title {
				color: rgb(146, 131, 50);
			}
		}
	}

	&.panel-info {
		border-color: lighten(@color-info-alert, 22%);

		.panel-heading {
			color: @color-info-alert;
			border-color: lighten(@color-info-alert, 22%);
			background-color: lighten(@color-info-alert, 32%);

			.panel-title {
				color: @color-info-alert;
			}
		}
	}
}

.search-field {
	.rounded(50px);
}

.data-table {
	margin: @spacing 0;
	
	> .row {
		margin-left: 0;
		margin-right: 0;

		border-top: 1px solid @color-lightgray;

		p {
			margin: 10px 0;
		}
	}

	&.data-table-striped {
		> .row {
			&:nth-child(odd) {
				background: @color-subtle;
			}
		}
	}

	&.data-table-bordered {
		> .row {
			border-left: 1px solid @color-lightgray;
			border-right: 1px solid @color-lightgray;

			&:first-child {
				.border-radius(@border-radius, @border-radius, 0, 0);
			}

			&:last-child {
				border-bottom: 1px solid @color-lightgray;

				.border-radius(0, 0, @border-radius, @border-radius);
			}

			&:nth-child(1):nth-last-child(1) {
				border-bottom: 1px solid @color-lightgray;

				.rounded(@border-radius);
			}
		}
	}
}

.nav-tabs {
	> li > a {
		color: @color-primary;

		.border-radius(@border-radius, @border-radius, 0, 0);
	}

	> li > a,
	> li > a:hover,
	> li > a:focus,
	> li > a:active {
		outline: none;
	}

	> li.active > a,
	> li.active > a:hover,
	> li.active > a:focus {
		border-bottom-color: @color-body;

		.gradient(@color-white, @color-body);
	}

	> li.active > a,
	> li.active > a:hover,
	> li.active > a:focus,
	> li.active > a:active {
		outline: none;
	}
}

.nav-pills {
	> li > a {
		color: @color-primary;

		.rounded(@border-radius);
	}

	> li > a,
	> li > a:hover,
	> li > a:focus,
	> li > a:active {
		outline: none;
	}

	> li.active > a,
	> li.active > a:hover,
	> li.active > a:focus {
		background-color: @color-primary-bright;
	}

	> li.active > a,
	> li.active > a:hover,
	> li.active > a:focus,
	> li.active > a:active {
		outline: none;
	}
}

.tab-content, .pill-content {
	.tab-pane, .pill-pane {
		padding: @spacing;
	}
}

.xtra {
	position: relative;
	margin-bottom: @spacing;

	background: #ebebeb;

	.rounded(@border-radius);
	.box-shadow(~"inset 0 0 0 transparent, inset 0 0 1px rgba(0, 0, 0, .5)");

	.xtra-img {
		.border-radius(@border-radius, @border-radius, 0, 0);
	}

	.xtra-avatar {
		position: relative;
		display: block;
		margin: -50px auto 0 auto;

		border: 3px solid #ebebeb;
	}

	.xtra-heading {
		margin: 10px 0;

		text-align: center;
	}

	.xtra-desc {
		padding: 10px;

		font-size: @font-size-small;
	}
}

.avatar {
	height: 100px;
	width: 100px;

	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;

	&.avatar-sm {
		height: 50px;
		width: 50px;
	}

	&.avatar-lg {
		height: 200px;
		width: 200px;
	}
}

.item-preview {
	position: relative;
	width: 100%;
	height: 150px;

	background-color: transparent;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	.border-radius(@border-radius, @border-radius, 0, 0);
}

.tab-icon {
	float: left;
	margin-right: 5px;

	&.tab-icon-up2 {
		margin-top: -2px;
	}

	&.tab-icon-up3 {
		margin-top: -3px;
	}

	&.tab-icon-up4 {
		margin-top: -4px;
	}

	&.tab-icon-right {
		margin-right: 8px;
	}
}